{% extends "layout.html" %}

{% block body %}
<div class="row col-xs-12 col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">
	    	<h3 class="panel-title"><strong>비밀번호 변경</strong></h3>
	  	</div>

		<div class="panel-body">
			<form action="{{ url_for('change_password') }}" name="password_form" method=post>
				{% for field in form %}
					{% if field.type == "SubmitField" %}
						{{ form.submit(class="btn btn-sm btn-success btn-block") }}    
					{% else %}
						<dl class="form-group">
						<dt>
						  <div><label for="{{ field.id }}">{{ field.label }}</label></div>
						</dt>
						<dd>
						  	<div>{{ field(class="form-control") }}</div>					
							{% if field.errors %}
								{% for error in field.errors  %}
									<div class="error help-block"><li> {{ error }}</li></div>
								{% endfor %}
							{% endif %}			  
						</dd>
						</dl>
					{% endif %}
				{% endfor %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('dl.form-group:has(.error)').addClass('has-error');
});
</script>
{% endblock %}